In [1]:
x=1+2
print(x)

3

In [4]:
x,y = (1,2)

In [7]:
x1=5
type(x)

int

In [9]:
int(x1)

5

In [11]:
x3=True
type(x3)

bool

In [13]:
y=10
print(str(y)+" Dollars")

10 Dollars

In [15]:
"I'm fine"

"I'm fine"

In [16]:
'Red' 'Car'

'RedCar'

In [17]:
print(3,5)

3 5

In [18]:
15**2

225

In [20]:
2.0*1.5 + \
5

8.0

In [21]:
def five(x):
    x=5
    return x
    print(five(3))

In [22]:
def five(x):
    x=5
    return x
print(five(x))

5

In [23]:
if 5==15/3:
    print("true")

true

In [24]:
x=1
if x>3:
    print("Case 1")
else:
    print("Case 2 ")

Case 2

In [25]:
def compare_to_five(y):
    if y>5:
        return "Greater"
    elif y<5:
        return "Smaller"
    else:
        return "Equal"

In [26]:
print (compare_to_five(10))

Greater

In [27]:
def simple():
    print("My first function")

In [28]:
simple()

My first function

In [29]:
def plus_ten(x):
    result=x+10
    print("Outcome")
    return result

In [30]:
plus_ten(2)

Outcome

12

In [31]:
def wage(w_hours):
    return w_hours*25
def with_bonus(w_hours):
    return wage(w_hours) + 50

wage(8), with_bonus(8)

(200, 250)

In [32]:
def add_10(x):
    if x>=100:
        m=m+10
        return m
    else:
        return "Save More!"

In [33]:
add_10(10)

'Save More!'

In [34]:
def subtract_bc(a,b,c):
    result = a- b*c
    print("Paramter a is", a)
    print("Paramter b is", b)
    print("Paramter c is",c)
    return result

In [35]:
subtract_bc(10,3,2)

Paramter a is 10
Paramter b is 3
Paramter c is 2

4

In [36]:
def subtract_bc(b=3,a=10,c=2)

SyntaxError: expected ':' (2991638080.py, line 1)

In [37]:
subtract_bc(b=3,a=10,c=2)

Paramter a is 10
Paramter b is 3
Paramter c is 2

4

In [39]:
list1 = [1,2,3,4]
sum(list1)

10

In [40]:
round(3.552, 2)

3.55

In [41]:
pow(2,10)

1024

In [42]:
Participants = ['A', 'B', 'C', 'D']
Participants

['A', 'B', 'C', 'D']

In [43]:
print(Participants[1])

B

In [44]:
print(Participants[-1])

D

In [46]:
Participants[3] = 'E'
Participants

['A', 'B', 'C', 'E']

In [47]:
del Participants[2]
Participants

['A', 'B', 'E']

In [48]:
Participants[2]

'E'

In [50]:
Participants.append('F')
Participants

['A', 'B', 'E', 'F', 'F']

In [52]:
Participants.extend(['G', 'H'])
Participants

['A', 'B', 'E', 'F', 'F', 'G', 'H']

In [53]:
print('The first participant is '+ Participants[0] + '.')

The first participant is A.

In [56]:
del(Participants[3])
Participants

['A', 'B', 'E', 'F', 'G', 'H']

In [57]:
len(Participants)

6

In [58]:
Participants[1:3]

['B', 'E']

In [59]:
Participants[:2]

['A', 'B']

In [60]:
Participants[4:]

['G', 'H']

In [61]:
Participants[-2:]

['G', 'H']

In [64]:
Participants.index("E")

2

In [65]:
NewComers = ['J', 'K']
NewComers

['J', 'K']

In [67]:
BigList = [Participants, NewComers]
BigList

[['A', 'B', 'E', 'F', 'G', 'H'], ['J', 'K']]

In [68]:
Numbers = [2,3,4,1,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [70]:
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

In [71]:
x = (40,41,42)
x

(40, 41, 42)

In [73]:
a,b,c = 1,2,3
c

3

In [74]:
x[0]

40

In [75]:
List1 = [x,y]
List1

[(40, 41, 42), 10]

In [76]:
(age, year_of_school) = "30,17".split(',')
print(age)
print(year_of_school)

30
17

In [78]:
def square_info(x):
    A = x**2
    P = 4*x
    print("Area and Permiter")
    return A,P

square_info(3)

Area and Permiter

(9, 12)

In [79]:
dict = {'k1':'cat', 'k2':'dog', 'k3':'mouse', 'k4':'fish'}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [80]:
dict['k1']

'cat'

In [81]:
dict["k3"]

'mouse'

In [83]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [85]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [86]:
dep_workers = {'dep1':'Peter', 'dep2':['Jennifer','Michael','Tommy']}
dep_workers['dep2']

['Jennifer', 'Michael', 'Tommy']

In [87]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Gurad'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [88]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Gurad': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [89]:
print(Team['Center'])

Hector

In [90]:
print(Team.get('Small Forward'))

Sean

In [91]:
print(Team.get('Coach'))

None

In [92]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [93]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [94]:
for n in even:
    print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [96]:
x= 0
while x<=20:
    print(x, end=" ")
    x+=2

0 2 4 6 8 10 12 14 16 18 20

In [97]:
range(10)

range(0, 10)

In [98]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
list(range(3,7))

[3, 4, 5, 6]

In [100]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [101]:
for x in range(20):
    if x%2==0:
        print(x, end=" ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [102]:
x = [0,1,2]
for item in x:
    print(item, end=" ")

0 1 2

In [103]:
for item in range(len(x)):
    print(x[item], end=" ")

0 1 2

In [104]:
def count(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total+=1
    return total

In [106]:
list1 = [1,3,7,15,23,43,56,98]
count(list1)

4

In [107]:
prices = {
    "box_of_spaghetti":4,
    "lasagna":5,
    "hamburger":2
}
quantity = {
    "box_of_spaghetti":6,
    "lasagna":10,
    "hamburger":0
}

In [108]:
money_spent = 0
for i in prices:
    money_spent = money_spent+(prices[i]*quantity[i])
print(money_spent)

74

In [109]:
import math
math.sqrt(16)

4.0

In [110]:
from math import sqrt
math.sqrt(16)

4.0

In [111]:
from math import sqrt as s
s(16)

4.0

In [112]:
import math as m
m.sqrt(16)

4.0

In [113]:
from math import *
sqrt(16)

4.0

In [115]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.